.aa1{
    height:50%;
    width:100%;
}
.kk6{
    width: 100%;
}
.aa7{
    width: 100%;
    height: 77.5%;
}
.aa11{
    height: 80%;
    width: 100%;
}
.aa12
{
    text-align: center;
}
.bb1{
    width: 100%;
}
.bb2{

    width: 100%;
}
.bb3{
    margin-top: 0px;
    margin-left: 0px;
}
.cc2{
    width: 100%;
}
.dd1{
    height: 450px;
}